<!DOCTYPE html>
<html lang="en">

<head th:replace="~{/public/fragments/template :: head('Clasicos')}"></head>

<body>

    <header th:replace="~{/public/fragments/template :: header}"></header>

    <main>
        <div class="container py-3">
            <h2>Clásicos</h2>
            <hr>
            <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col py-2" th:each="producto : ${clasicos}">
                    <div class="card" style="width: 18rem;">
                        <img th:src="@{${producto.imagen}}" class="img-fluid card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title"><strong th:text="${producto.nombre}"></strong></h5>
                            <p class="card-text" th:text="${producto.descripcion}"></p>
                            <a th:href="@{/productos/{id}(id=${producto.idProducto})}" class="btn btn-primary">Pedir</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer th:replace="~{/public/fragments/template :: footer}"></footer>
    <script th:replace="/public/fragments/template :: script"></script>
</body>

</html>