<!DOCTYPE html>
<html lang="en">

<head th:replace="~{/public/fragments/template :: head('Keke Chocolate')}">
</head>

<body>

    <header th:replace="~{/public/fragments/template :: header}"></header>

    <main>
        <div class="container py-5 px-5">
            <div class="row">
                <div class="col">
                    <img src="/img/kekechocolate.png" class="img-fluid rounded" width="300">

                    <h2><strong>keke de chocolate</strong></h2>

                    <p>Sumérgete en el sabor intenso de nuestro keke de chocolate, un clásico irresistible con una textura suave y húmeda que se deshace en la boca.</p>
                    <h3><strong>S/. 7.00</strong></h3>
                </div>
                <div class="col-9 px-2 py-3">
                    <h2>Personaliza tu pedido</h2>
                    <hr>
                    <h4>Selecciona la temperatura para tu keke</h4>
                    <div class="btn-group-vertical" role="group3" aria-label="Vertical radio toggle button group">
                        <input type="radio" class="btn-check" name="vbtn-radio3" id="vbtn-radio6" autocomplete="off">
                        <label class="btn btn-outline-warning" for="vbtn-radio6">Caliente</label>
                        <input type="radio" class="btn-check" name="vbtn-radio3" id="vbtn-radio7" autocomplete="off">
                        <label class="btn btn-outline-warning" for="vbtn-radio7">Sin calentar</label>
                    </div>
                    <br>
                    <br>
                    <br>
                    <div class="d-grid d-flex gap-4 justify-content-md-end">
                        <input class="btn btn-outline-success" type="number" name="tentacles" min="1" max="10" />
                        <button type="button" class="btn btn-success" data-bs-toggle="modal"
                            data-bs-target="#modalAgregar">
                            Agregar
                        </button>
                    </div>

                </div>
            </div>


        </div>
    </main>
    
    <div th:replace="/public/fragments/template :: carrito"></div>
    <footer th:replace="~{/public/fragments/template :: footer}"></footer>    
    <script th:replace="/public/fragments/template :: script"></script>
</body>

</html>