<!DOCTYPE html>
<html lang="en">

<head th:replace="~{/public/fragments/template :: head('Frappe Pedidos')}">
</head>

<body>

    <header th:replace="~{/public/fragments/template :: header}"></header>
    <main>
        <div class="container py-3">
            <h2>Los mas pedidos</h2>
            <hr>
            <div class="row">
                <div class="col-md-4 mb-3" th:each="producto : ${productosTop}">
                    <div class="card h-100" style="width: 18rem;">
                        <img th:src="@{${producto.imagen}}" class="card-img-top" alt="Imagen del producto">
                        <div class="card-body">
                            <h5 class="card-title" th:text="${producto.nombre}"></h5>
                            <p class="card-text" th:text="${producto.descripcion}"></p>
                            <a th:href="@{/menu/productos/{id}(id=${producto.idProducto})}" class="btn btn-primary">
                                Pedir <span class="badge rounded-pill text-bg-danger">&#128293;</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer th:replace="~{/public/fragments/template :: footer}"></footer>
    <script th:replace="/public/fragments/template :: script"></script>
</body>

</html>