<!DOCTYPE html>
<html lang="en">

<head th:replace="~{/public/fragments/template :: head('Cafesitos Finos')}">
</head>

<body>

    <header th:replace="~{/public/fragments/template :: header}"></header>

    <main>
        <div class="container py-5 px-5">
            <div class="row">
                <div class="col d-flex">
                    <img th:src="${producto.imagen}" class="img-fluid rounded" width="500">
                    <div class="container m-4">
                        <h2><strong th:text="${producto.nombre}"></strong></h2>
                        <p th:text="${producto.descripcion}"></p>
                        <h4 th:text="${producto.medida}"></h4>
                        <h3><strong th:text="'S/. ' + ${producto.precio}"></strong></h3>
                        <a class="btn btn-success my-4" href="/user/pedidos">Realizar pedido</a>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <div th:replace="/public/fragments/template :: carrito"></div>
    <footer th:replace="~{/public/fragments/template :: footer}"></footer>
    <script th:replace="/public/fragments/template :: script"></script>
</body>

</html>