<!DOCTYPE html>
<html lang="en">

<head th:replace="~{/public/fragments/template :: head('Sandwich')}"></head>

<body>
    <header th:replace="~{/public/fragments/template :: header}"></header>
    <main>
        <div class="container py-5 px-5">
            <div class="row">
                <div class="col">
                    <img src="/img/sandwich.png" class="img-fluid rounded" width="300">
                    <h2><strong>Sandwich</strong></h2>

                    <p>Preparado con pan suave y ligeramente tostado, lleva finas lonjas de jamón, queso fundido y
                        crujiente lechuga fresca,
                        creando una mezcla equilibrada y deliciosa.</p>
                    <h3><strong>S/. 8.00</strong></h3>
                </div>
                   
            </div>
        </div>
    </main>

    <div th:replace="/public/fragments/template :: carrito"></div>
    <footer th:replace="~{/public/fragments/template :: footer}"></footer>
    <script th:replace="/public/fragments/template :: script"></script>
</body>

</html>