<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/error.css">
    <title>Error 403</title>

</head>

<body>
    <div class="conteiner">
        <div class="header">
            <h1>403</h1>
            <h3>No tienes acceso.</h3>
        </div>
        <img src="/img/cafeTirado.png" alt="café derramado">
        <div class="footer">
            <p>
                No tienes acceso a esta pagina.
            </p>
            <a href="/" class="btn">Volver al inicio</a>
        </div>
    </div>
</body>