<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/error.css">
    <title>Document</title>

</head>

<body>
    <div class="conteiner">
        <div class="header">
            <h1>404</h1>
            <h3>Esta pagina no existe</h3>
        </div>
        <img src="/img/cafeTirado.png" alt="café derramado">
        <div class="footer">
            <p>
                Lo sentimos, la página que estás buscando no se encuentra disponible.
                Puede que haya sido eliminada o que la dirección esté mal escrita.
            </p>
            <a href="/" class="btn">Volver al inicio</a>
        </div>
    </div>
</body>