<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Espresso caliente</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.css">
</head>

<body>

    <header th:replace="~{/fragments/template :: header}"></header>

    <main>
        <div class="container py-5 px-5">
            <div class="row">
                <div class="col">
                    <img src="img/espresscaliente.png" class="img-fluid rounded" width="300">

                    <h2><strong>Americano caliente</strong></h2>

                    <p>
                        Descubre la intensidad y el aroma inconfundible de nuestro espresso caliente, elaborado con
                        granos 100% arábica de tueste perfecto. </p>
                    <h4>300ml</h4>
                    <h3><strong>S/. 9.00</strong></h3>
                </div>
                <div class="col-9 px-2 py-3">
                    <h2>Personaliza tu bebida</h2>
                    <hr>
                    <h4>Elige el tipo de cafe para tu bebida</h4>
                    <div class="btn-group-vertical" role="group" aria-label="Vertical radio toggle button group">
                        <input type="radio" class="btn-check" name="vbtn-radio" id="vbtn-radio1" autocomplete="off">
                        <label class="btn btn-outline-warning" for="vbtn-radio1">Cafe Espresso</label>

                        <input type="radio" class="btn-check" name="vbtn-radio" id="vbtn-radio2" autocomplete="off">
                        <label class="btn btn-outline-warning" for="vbtn-radio2">Cafe descafeinado</label>

                        <input type="radio" class="btn-check" name="vbtn-radio" id="vbtn-radio3" autocomplete="off">
                        <label class="btn btn-outline-warning" for="vbtn-radio3">Leche sin lactosa</label>
                    </div>
                    <br>
                    <br>
                    <h4>¿Deseas agregar endulzantes?</h4>
                    <div class="btn-group-vertical" role="group3" aria-label="Vertical radio toggle button group">
                        <input type="radio" class="btn-check" name="vbtn-radio3" id="vbtn-radio6" autocomplete="off">
                        <label class="btn btn-outline-warning" for="vbtn-radio6">Azucar (2u)</label>
                        <input type="radio" class="btn-check" name="vbtn-radio3" id="vbtn-radio7" autocomplete="off">
                        <label class="btn btn-outline-warning" for="vbtn-radio7">Stevia (2u)</label>
                    </div>
                    <br>
                    <br>
                    <h4>¿Deseas agregar un shot adicional para tu cafe?</h4>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <input class="form-check-input me-1" type="checkbox" value="" id="firstCheckboxStretched">
                            <label class="form-check-label stretched-link" for="firstCheckboxStretched">Shot adicional espresso - S/. 2.00</label>
                        </li>
                        <li class="list-group-item">
                            <input class="form-check-input me-1" type="checkbox" value="" id="secondCheckboxStretched">
                            <label class="form-check-label stretched-link" for="secondCheckboxStretched">Shot descafeinado - S/. 2.00</label>
                        </li>
                    </ul>
                    <br>
                    <div class="d-grid d-flex gap-4 justify-content-md-end">
                        <input class="btn btn-outline-success" type="number" name="tentacles" min="1" max="10" />
                        <button type="button" class="btn btn-success" data-bs-toggle="modal"
                            data-bs-target="#modalAgregar">
                            Agregar
                        </button>
                    </div>

                </div>
            </div>


        </div>
    </main>    
    <div class="modal fade" id="modalAgregar" data-bs-backdrop="static" tabindex="-1"
        aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Tu carrito</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
                    <a href="menu.html"><button type="button" class="btn btn-success">Seguir comprando</button></a>
                    <button type="button" class="btn btn-outline-success">Comprar</button>
                </div>
            </div>
        </div>
    </div>

    <footer th:replace="~{/fragments/template :: footer}"></footer>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>

</html>