<!DOCTYPE html>
<html lang="en">

<head th:replace="~{fragments/template :: head('Keke Chocolate')}">
</head>

<body>

    <header th:replace="~{/fragments/template :: header}"></header>

    <main>
        <div class="container py-5 px-5">
            <div class="row">
                <div class="col">
                    <img src="/img/kekechocolate.png" class="img-fluid rounded" width="300">

                    <h2><strong>keke de chocolate</strong></h2>

                    <p>Sumérgete en el sabor intenso de nuestro keke de chocolate, un clásico irresistible con una textura suave y húmeda que se deshace en la boca.</p>
                    <h3><strong>S/. 7.00</strong></h3>
                </div>
                <div class="col-9 px-2 py-3">
                    <h2>Personaliza tu pedido</h2>
                    <hr>
                    <h4>Selecciona la temperatura para tu keke</h4>
                    <div class="btn-group-vertical" role="group3" aria-label="Vertical radio toggle button group">
                        <input type="radio" class="btn-check" name="vbtn-radio3" id="vbtn-radio6" autocomplete="off">
                        <label class="btn btn-outline-warning" for="vbtn-radio6">Caliente</label>
                        <input type="radio" class="btn-check" name="vbtn-radio3" id="vbtn-radio7" autocomplete="off">
                        <label class="btn btn-outline-warning" for="vbtn-radio7">Sin calentar</label>
                    </div>
                    <br>
                    <br>
                    <br>
                    <div class="d-grid d-flex gap-4 justify-content-md-end">
                        <input class="btn btn-outline-success" type="number" name="tentacles" min="1" max="10" />
                        <button type="button" class="btn btn-success" data-bs-toggle="modal"
                            data-bs-target="#modalAgregar">
                            Agregar
                        </button>
                    </div>

                </div>
            </div>


        </div>
    </main>
    
    <div class="modal fade" id="modalAgregar" data-bs-backdrop="static" tabindex="-1"
        aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Tu carrito</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
                    <a href="/menu"><button type="button" class="btn btn-success">Seguir comprando</button></a>
                    <a href="/sede"><button type="button" class="btn btn-outline-success">Comprar</button></a>
                </div>
            </div>
        </div>
    </div>
    <footer th:replace="~{/fragments/template :: footer}"></footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>

</html>