<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.css">
    <title>Mas pedidos</title>
</head>

<body>

    <header th:replace="~{/fragments/template :: header}"></header>
    <main>
        <div class="container py-3">
            <h2>Los mas pedidos</h2>
            <hr>
                <div class = "row">
                    <div class = "col py-2">
                        <div class="card" style="width: 18rem;">
                            <img src="/img/frapvain.jpeg" class="img-fluid card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title"><strong>Frappuccino de vainilla</strong></h5>
                                <p class="card-text">Una deliciosa y refrescante mezcla de hielo,
                                    leche y suave esencia de vainilla.</p>
                                <a href="/frap-vainilla" class="btn btn-primary">Pedir <span
                                        style = "font-size: 15px;"class="badge rounded-pill text-bg-danger">&#128293</span></a>
                            </div>
                        </div>
                    </div>
                    <div class = "col py-2">
                        <div class="card" style="width: 18rem;">
                            <img src="/img/frapmocha.jpeg" class="img-fluid card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title"><strong>Frappuccino Mocha</strong></h5>
                                <p class="card-text">Una deliciosa mezcla de café, leche y el intenso sabor del chocolate,
                                    licuado con hielo.</p>
                                    <a href="/frap-mocha" class="btn btn-primary">Pedir <span
                                        style = "font-size: 15px;"class="badge rounded-pill text-bg-danger">&#128293</span></a>
                            </div>
                        </div>
                    </div>
                    <div class = "col py-2">
                        <div class="card" style="width: 18rem;">
                            <img src="/img/frapmatcha.jpeg" class="img-fluid card-img-top">
                            <div class="card-body">
                                <h5 class="card-title"><strong>Frappuccino Matcha</strong></h5>
                                <p class="card-text">Bebida fría y cremosa elaborada con té verde matcha, 
                                    leche y hielo.</p>
                                    <a href="/frap-matcha" class="btn btn-primary">Pedir <span
                                        style = "font-size: 15px;"class="badge rounded-pill text-bg-danger">&#128293</span></a>
                        </div>
                    </div>
                </div>
        </div>
    </main>
    
    <footer th:replace="~{/fragments/template :: footer}"></footer>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>

</html>