<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Nosotros</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.css">
</head>

<body>

    <header th:replace="~{/fragments/template :: header}"></header>

    <main>
    <div class = "container py-4 text-center">
      <h1><strong>¿Quienes somos?</strong></h1></div>
      <div class = "container py-3">
          <p class = "h5">Somos una empresa peruana apasionada por el buen café. Desde el corazón del Perú, llevamos hasta tu puerta una experiencia única en cada taza, 
              combinando sabor, tradición y calidad.
              Creemos que el café no es solo una bebida,
              sino un ritual que une personas, despierta ideas y acompaña 
              momentos importantes. Por eso, seleccionamos granos de alta 
              calidad, cultivados en nuestras tierras andinas, para brindarte
                un café 100% peruano, fresco y con aroma auténtico.</p>
      </div>
    <div class = "container py-2">
      <img src="img/nosotros-cafe.png" class= "img-fluid rounded">
    </div>
    <div class = "container pt-4 pb-2">
      <h1><strong>¿Por qué elegirnos?</strong></h1></div>
      <div class = "container py-3">
          <p class = "h5">&#9749 Porque Apostamos por un modelo sostenible, trabajando directamente con pequeños productores locales y respetando cada etapa del proceso.
              </p>
              <p class = "h5">&#128757 Nuestro servicio de delivery te permite disfrutar del mejor café sin salir de casa. Ya sea que busques comenzar tu día con energía o regalar un momento especial, 
                  estamos aquí para hacerlo posible.</p>
      </div>
      <div class = "container pb-4">
          <img src="img/delivery.png" class="img-fluid rounded">
      </div>
    </main>

    <footer th:replace="~{/fragments/template :: footer}"></footer>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq"
      crossorigin="anonymous"></script>
</body>

</html>