<!DOCTYPE html>
<html lang="en">

<head th:fragment="head(titulo)">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="_csrf" th:content="${_csrf.token}" />
    <meta name="_csrf_header" th:content="${_csrf.headerName}" />
    <title>[[${titulo}]]</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark"
        style="background: linear-gradient(45deg, #2d5016, #3e6b1f);">
        <div th:fragment="navegador" class="container">
            <a class="navbar-brand" href="/" sec:authorize="hasAuthority('CLIENT')">
                <i class="fas fa-coffee"></i> CafeWeb - Cliente
            </a>

            <a class="navbar-brand" sec:authorize="hasAuthority('ADMIN')">
                <i class="fas fa-coffee"></i> CafeWeb - Admin
            </a>
            <div class="navbar-nav ms-auto">

                <span class="nav-link disabled">
                    <i class="fas fa-user"></i>
                    <span th:text="${usuarioLogueado.nombre}">Nombre del Usuario</span>
                </span>
                <a class="nav-link" href="categorias" sec:authorize="hasAuthority('ADMIN')">Categorías</a>
                <a class="nav-link" href="productos" sec:authorize="hasAuthority('ADMIN')">Productos</a>
                <a class="nav-link" href="tiendas" sec:authorize="hasAuthority('ADMIN')">Tiendas</a>
                <a class="nav-link" href="extras" sec:authorize="hasAuthority('ADMIN')">Extras</a>
                <a class="nav-link" href="usuarios" sec:authorize="hasAuthority('ADMIN')">Usuarios</a>
                <a class="nav-link" href="pedidos"
                    sec:authorize="hasAnyAuthority('ADMIN', 'CLIENT', 'EMPLOYEE')">Pedidos</a>
                <a class="nav-link" href="historial" sec:authorize="hasAnyAuthority('ADMIN', 'EMPLOYEE')">Historial</a>
                <form class="d-flex mx-5" th:if="${#authorization.expression('isAuthenticated()')}"
                    th:action="@{/logout}" method="post">
                    <button class="btn btn-danger" type="submit">Cerrar Sesión</button>
                </form>
            </div>
        </div>
    </nav>
</body>

<footer>
    <div th:fragment="footer" class="footer-bottom text-center">
        <p class="mb-0">&copy; 2025 CafeWeb. Todos los derechos reservados. | Desarrollado con <i
                class="fas fa-heart text-danger"></i> para cafeterías</p>
    </div>
</footer>

<script th:fragment="bootstrap"
    src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>

</html>